.nav-logo {
    display: flex;
    justify-content: space-between;
}

.nav-logo a img {
    margin: 10px;
}

.nav-logo .nav-brand-name {
    display: flex;
    flex-direction: column;
}

.nav-logo .nav-brand-name p {
    margin: 0;
}

.img_pop {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
